body {
    --main-hue: 208;
    --main-color: hsl(var(--main-hue), 92%, 54%);
    --main-color-hover: hsl(var(--main-hue), 77%, 48%);
    --light-main-color: hsl(var(--main-hue), 91%, 55%);
    --text-color: #000;
    --nav-color: hsl(var(--main-hue), 17%, 79%);
    --light-text-color: #9ca7b6; 
    --bg-color: #fff;
    --input-bg: hsla(var(--main-hue), 50%, 50%, 6.5%);
    --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%);
    --input-text: #8c9aaf;
}

.contact {
    width: 100%;
    overflow: hidden;
    background-color: var(--bg-color);
}

.contact .container {
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.contact .container > div {
    grid-column: 1/2;
    grid-row: 1/2;
}

.left {
    width: 100%;
    max-width: 90rem; //80
    margin: 0 auto;
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 3;
}

.contact_heading h1 {
    font-weight: 600;
    color: var(--text-color);
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;
}

.contact_heading h1 span {
    color: var(--main-color);
}

.text {
    color: var(--light-text-color);
    line-height: 1.1;
    font-size: 1rem;
}

.text a {
    color: var(--main-color);
    transition: 0.3s;
}

.text a:hover {
    color: var(--main-color-hover);
}

.form_wrapper {
    max-width: 32rem;
    transform: none;
}

.contact_form {
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input_wrap {
    position: relative;
}

.input_wrap.w_100 {
    grid-column: span 2;
}

.contact_input {
    width: 100%;
    background-color: var(--input-bg);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 54%, 0.169);
    transition: 0.3s;
}

.contact_input:hover {
    background-color: var(--input-bg-hover);
}

.input_wrap label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--light-text-color);
    pointer-events: none;
    transition: .25s;
}

.input_wrap .icon {
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text);
    font-size: 1.25rem;
    transition: .3s;
}

textarea.contact_input {
    resize: none;
    width: 100%;
    min-height: 150px;
}

textarea.contact_input ~ label {
    top: 1.2rem;
    transform: none;
}

.input_wrap.focus .contact_input {
    background-color: var(--bg-color);
    border: 2px solid var(--light-main-color);
    box-shadow: 0 0 0 5px hsla(var(--main-hue), 91%, 55%, 0.11);
}

.input_wrap.focus label {
    color: var(--light-main-color);
}

.input_wrap.focus .icon {
    color: var(--light-main-color)
}

.input_wrap.not_empty label {
    font-size: .66rem;
    top: 0.75rem;
    transform: translateY(0);
}