.btn-custom {
    background-color: #557C70; 
    border-color: #557C70; 
    transition: background-color 0.3s ease; 
}

.btn-custom:hover {
    border-color: #4e7368;
    background-color: #4e7368; 
}

.btn-custom.btn-primary:active, 
.btn-custom.btn-primary:focus {
    background-color: #38514a;
    border-color: #38514a;
}