.container {
    position: relative;
    width: 100%;
    display: flex;
    padding: 20px;
    min-height: 200vh;
    background-color: var(--white-color);
}

.sidebar {
    position: fixed; //relative
    margin-top: 120px;
    width: 256px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--dark-cyan-color);
    box-shadow: 0 0px 25px var(--light-grey-color);
    padding: 24px;
    border-radius: 30px;
    transition: all 0.3s;
}

.sidebar .head {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--white-color);
    transition: all 0.3s;
}

// .head_logo {
    // border-radius: 20%;
    // overflow: hidden;
// }

.head_logo img {
    width: 70px;
    height: 90px;
    object-fit: fill;
}

.head_details .title,
.menu .title {
  font-size: 14px;
  font-weight: 500;
  color: var(--menu-title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: var(--font-title);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.head_details h4 {
    color: var(--white-color);
    font-family: var(--font-company-title);
    font-weight: 400;
    font-style: normal;
}

.nav {
    flex: 1;
}

.head_details .name {
    font-size: 14px;
    font-weight: 500;
}

.menu .list {
    padding-inline-start: 0;
}

.link_container {
    position: relative;
    display: flex;
    align-items: center;
    // gap: 5px;
}

.link_container .arrow {
    color: var(--white-color);
}

.link_container:hover,
.link_container .arrow:hover {
    color: var(--dark-color);
    background-color: var(--light-cyan-color);
    border-radius: 8px;
}

.menu ul li {
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    font-weight: 500;
    color: var(--white-color);
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}

.menu ul li .special_link:hover {
    background-color: initial;
}

.menu ul li a:hover,
.menu ul li.active a {
    color: var(--dark-color);
    background-color: var(--light-cyan-color);
}

.menu ul li .icon {
    font-size: 24px;
}

.menu ul li .text {
    flex: 1;
}

.menu ul li .arrow {
    font-size: 17px;
    transition: transform 0.3s;
}
  
.menu ul li .arrow.active {
    transform: rotate(180deg);
}

.menu .sub_menu {
    display: block;
    margin-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}

.menu .sub_menu.active {
    max-height: 500px;
}

.menu .sub_menu li a {
    padding: 10px 8px;
    font-size: 15px;
}

.menu_btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--menu-title-color);
    border: 2px solid var(--border-color);
    background-color: var(--white-color);
    transition: all 0.3s;
}

.menu_btn:hover {
    color: var(--dark-color);
}

.sidebar.active {
    width: 92px;
    height: auto;
}

.sidebar.active .menu_btn {
    transform: rotate(180deg);
}

.sidebar.active img {
    width: 44px;
    height: 44px;
}

.sidebar.active .head_details {
    display: none;
}

.sidebar.active .menu .title {
    text-align: center;
}

.sidebar.active .menu .icon {
    font-size: 30px;
}

.sidebar.active .menu ul li .arrow {
    display: none;
}

.sidebar.active .menu ul li {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sidebar.active .menu ul li a .text {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 7px;
    color: var(--white-color);
    background-color: var(--light-cyan-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
}

.sidebar.active .menu ul li a .text::after {
    content: "";
    position: absolute;
    left: -3px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: var(--light-cyan-color);
    transform: rotate(45deg);
    z-index: -1;
}

.sidebar.active .menu ul li a:hover .text {
    left: 50px;
    opacity: 1;
    visibility: visible;
}

.sidebar.active .menu .sub_menu {
    display: none;
}

.instructions {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.search {
    background: var(--white-color);
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 25px var(--light-grey-color);
    transition: 0.7s;
}

.search:hover input {
    width: 350px;
    cursor: pointer;
}

.search input {
    background: transparent;
    border: none;
    outline: none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;
}

.search i .bx {
    color: var(--dark-color);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 780px) {
    .sidebar {
        position: fixed;
        margin-top: 120px;
        gap: 20px;
    }
    
    .head_details .title,
    .menu .title {
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    
    .menu ul li a {
        gap: 5px;
        font-size: 7px;
        font-weight: 400;
        padding: 10px 4px;
    }
    
    .menu .sub_menu {
        display: none;
    }
    
    .menu_btn {
        display: none;
    }
    
    .sidebar.active {
        width: 84px;
    }

    .sidebar.active img {
        width: 37px;
        height: 37px;
    }
    
    .sidebar.active .menu .icon {
        font-size: 25px;
    }
    
    .sidebar.active .menu ul li .arrow {
        display: none;
    }

    .sidebar.active .menu ul li a .text {
        font-size: 12px;
    }

    .sidebar.active .menu ul li a .text::after {
        left: -4px;
        top: 20%;
        width: 20px;
        height: 20px;
        border-radius: 2px;
    }
    
    .sidebar.active .menu ul li a:hover .text {
        left: 40px;
    }
    
    .sidebar.active .menu .sub_menu {
        display: none;
    }

    .sub_menu {
        display: none;
    }

    .search {
        height: 40px;
        padding: 10px 20px;
    }

    .search:hover input {
        width: 100px;
    }

    .instructions {
        margin-top: 120px;
        margin-left: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

@media (min-width: 781px) and (max-width: 1025px) {
    .search:hover input {
        width: 300px;
    }

    .sidebar {
        position: fixed;
        margin-top: 150px;
        height: 57vh;
        gap: 20px;
    }

    .sidebar.active {
        height: auto;
    }

    .instructions {
        margin-left: 380px;
        margin-top: 150px;
    }
}
