.navbar {
    background-color: var(--white-color);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: .5rem;
    box-shadow: 0 0px 25px var(--light-cyan-color);
}

.navbar-brand {
    font-weight: 500;
    color: var(--dark-cyan-color);
    font-size: 24px;
    transition: .3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: var(--dark-cyan-color);
    font-weight: 500;
    position: relative;
    user-select: none;
}

.nav-link:hover, .nav-link.active {
    color: var(--dark-color);
}

.offcanvas-title {
    color: var(--dark-cyan-color);
}

@media (min-width: 320px) and (max-width: 480px) {
    .navbar {
        height: 50px;
    }

    .navbar-toggler {
        font-size: 1rem;
    }

    .offcanvas .offcanvas-end .show {
        width: 50%;
    }

    #offcanvasNavbar {
        width: 300px;
    }
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--dark-cyan-color);
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}