.switch {
    position: relative;
    width: 90px;
    height: 40px;
    border-radius: 10px;
}

.switch input {
    appearance: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    outline: none;
}

.switch input::before,
.switch input::after {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bolder;
}

.switch input::before {
    content: "RUS";
    left: 10px;
}

.switch input::after {
    content: "ENG";
    right: 10px;
}

.switch input:checked {
    background: var(--dark-cyan-color);
}

.switch label {
    z-index: 1;
    position: absolute;
    top: 4px;
    bottom: 4px;
    border-radius: 10px;
}

.switch input {
    transition: 0.25s;
}

.switch input:checked::after,
.switch input:checked::before {
    color: var(--white-color);
    transition: color 0.5s;
}

.switch input:checked+label {
    left: 4px;
    right: 44px;
    background: var(--light-cyan-color);
    transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked) {
    background: var(--dark-sand-color) ;
    transition: background 0.4s;
}

.switch input:not(:checked)::before {
    color: var(--white-color);
    transition: color 0.5s;
}

.switch input:not(:checked)::after {
    color: var(--white-color);
    transition: color 0.5s 0.2s;
}

.switch input:not(:checked) +label {
    left: 44px;
    right: 4px;
    background: var(--light-sand-color);
    transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}

.addition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 35px;
    transition: background-color 0.3s ease;
}

.total {
    position: absolute;
    top: -5px;
    right: 10px;
    background-color: var(--light-cyan-color);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    color: var(--white-color);
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(20px);
}

.total span {
    font-size: 14px;
}

.cart:hover {
    background-color: var(--light-grey-color); 
}


.logo {
    position: absolute;
    top: -10px;
    -webkit-user-drag: none; 
    user-drag: none;
    user-select: none;

    @media (min-width: 320px) and (max-width: 480px) {
        top: 1.5px;
        width: 80px;
        height: 50px;
    }

    @media (min-width: 481px) and (max-width: 576px) {
        position: absolute;
        top: 7px;
        width: 120px;
        height: 70px;
    }

    @media (min-width: 577px) and (max-width: 768px) {
        top: 7px;
        width: 120px;
        height: 70px;
    }

    @media (min-width: 769px) and (max-width: 992px) {
        top: 7px;
        width: 120px;
        height: 70px;
    }

    @media (min-width: 993px) and (max-width: 1200px) {
        top: 7px;
        width: 120px;
        height: 70px;
    }

    @media (min-width: 1201px) {
        top: 2px;
        width: 120px;
        height: 80px;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .switch {
        width: 90px;
        height: 30px;
        margin-right: -10px;
    }

    .switch input {
        font-size: 10px;
        font-weight: 350;
        width: 75px;
        height: 30px;
    }

    .switch input::after {
        right: 25px;
    }

    .switch label {
        border-radius: 7px;
    }

    .switch input:checked+label {
        left: 4px;
        right: 52px;
    }

    .switch input:not(:checked) +label {
        left: 38px;
        right: 20px;
    }

}