.wrapper {
    min-height: 100vh;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
}

.item_card {
    width: 80%;
    max-width: 1200px;
    height: auto;
    overflow: hidden;  
}

.card_init {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_box {
    margin: 0 auto !important;
}

.images {
    margin: 0 auto;
    max-width: 400px;
}

.price {
    color: var(--dark-cyan-color);
    text-decoration: none;
    font-weight: 400;
    font-size: clamp(1rem, 4vw, 1.4rem);
}

.data {
    font-weight: 500;
}

.name {
    color: var(--dark-cyan-color);
    text-decoration: none;
    font-weight: 500;
    font-size: clamp(1.4rem, 4vw, 2rem);
}

.prev_btn {
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    border-radius: 5px 10px 20px 10px; 
    cursor: pointer;
    outline: none;
    z-index: 4;
}

.prev_btn::after {
    position: absolute;
    bottom: -30px;
    right: -20px;
    background-color: var(--light-cyan-color);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
    content: attr(data-content);
}

.prev_btn:hover::after {
    opacity: 1;
}

.prev_btn span {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 24px;
    color: white;
    z-index: 2;
}

@media (min-width: 320px) and (max-width: 767px) {
    .wrapper {
        margin-top: 150px;
    }   

    .images {
        max-width: 300px;
    }

}