.card-body > *:nth-child(-n+4),
.card-body > *:nth-child(n+7):nth-child(-n+8) {
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1; 
}

.price-container {
    display: flex;
    justify-content: flex-end;
}
 
.carousel-item img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none; 
    user-drag: none;
    user-select: none;
}
