.wrapper {
    background-color: linen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper h1 {
    font-family: "Orelega One", serif;
    font-weight: 400;
    font-style: normal;
    color: #557C70;
    font-size: clamp(1rem, 4vw, 5rem);
}

.wrapper h1 span {
    color: #231F20;
}