.empty_component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.empty_text {
    font-size: clamp(1rem, 2vw, 1.5rem);
}


.empty_img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}