.modal_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 

    @media (max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 768px) {
        padding: 1rem;
    }
}

.section_one,
.section_two {
    flex: 1; 
    margin: 0 10px;

    @media (max-width: 1200px) {
        margin: 10px 0;
    }

    @media (max-width: 768px) {
        margin: 0;
    }
}

.section_two {
    width: 83%;

    @media (max-width: 768px) {
        height: auto;
        width: 100%;
    }
}

.separator {
    margin: 0 20px;
}

.content_table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: center;
    }

    td {
        border: 1px solid var(--light-grey-color);
    }

    @media (max-width: 768px) {
        th,
        td {
            padding: 5px;
        }
    }
}

.list_items {
    max-height: 300px; 
    overflow-y: auto;
}

.content_table th,
.content_table td {
    padding: 10px;
    text-align: center;
}

.content_table td {
    border: 1px solid var(--light-grey-color);
}

.total_cost {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.text {
    color: var(--light-text-color-contacts);
    line-height: 1.1;
    font-size: 1rem;

    @media (max-width: 768px) {
        font-size: 0.875rem;
    }
}

.text a {
    color: var(--main-color-contacts);
    transition: 0.3s;
}

.text a:hover {
    color: var(--main-color-hover-contacts);
}

.order_heading h3 {
    font-weight: 400;
    color: var(--dark-cyan-color);
    font-size: clamp(1rem, 20vw, 2.5rem);
    line-height: 0.9;
    white-space: nowrap;

    @media (max-width: 768px) {
        font-size: 1.5rem;
        white-space: normal;
    }
}
.order_heading h3 span {
    color: var(--dark-color);
}


@media (max-width: 768px) {
    .modal_body {
        display: block;
    }

    .list_items {
        max-height: 400px;
    }
}


/* Form */

.form_wrapper {
    max-width: 32rem;
    transform: none;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.contact_form {
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.input_wrap {
    position: relative;

    @media (max-width: 768px) {
        grid-column: span 2;
    }
}

.input_wrap.w_100 {
    grid-column: span 2;
}

.contact_input {
    width: 100%;
    background-color: var(--input-bg-contacts);
    padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
    border: none;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: var(--text-color-contacts);
    font-weight: 600;
    font-size: 0.95rem;
    border: 2px solid transparent;
    box-shadow: 0 0 0 0px hsla(var(--main-hue), 92%, 54%, 0.169);
    transition: 0.3s;
}

.contact_input:hover {
    background-color: var(--input-bg-hover-contacts);
}

.input_wrap label {
    position: absolute;
    top: 50%;
    left: calc(1.35rem + 2px);
    transform: translateY(-50%);
    color: var(--light-text-color-contacts);
    pointer-events: none;
    transition: .25s;
    transform: translateY(-0.75rem);
}

.input_wrap .icon {
    position: absolute;
    right: calc(1.35rem + 2px);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--input-text-contacts);
    font-size: 1.25rem;
    transition: .3s;
}

.input_wrap.focus .contact_input {
    background-color: var(--bg-color-contacts);
    border: 2px solid var(--light-main-color-contacts);
    box-shadow: 0 0 0 5px hsla(var(--main-hue), 91%, 55%, 0.11);
}

.input_wrap input::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input_wrap.focus label {
    color: var(--light-main-color-contacts);
}

.input_wrap.focus input::placeholder {
    opacity: 1;
    color: var(--light-grey-color);
    transition: opacity 0.25s ease-in-out;
}

.input_wrap.focus .icon {
    color: var(--light-main-color-contacts)
}

.input_wrap.not_empty label {
    font-size: .66rem;
    top: 0.75rem;
    transform: translateY(0);
}

.input_wrap.max_chars_exceeded .contact_input {
    animation: shake 0.3s ease-in-out 2;
    border: 2px solid var(--red-color);
}

.input_wrap.max_chars_exceeded label {
    animation: shake 0.3s ease-in-out 2;
    color: var(--red-color);
}

.input_submit {
    width: 100%;
    height: 50px;
    background: var(--dark-cyan-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.input_submit:hover {
    background: var(--light-cyan-color);
}

.input_submit:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.condition {
    margin-top: 15px;
    font-size: small;
}

.link {
    text-decoration: none;
}

.right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    pointer-events: none;
}

.image_wrapper {
    position: relative;
    grid-column: 2;
}

.image_wrapper img {
    position: absolute;
    height: 100%;
    left: 35%;
    top: 50%;
    filter: brightness(0.85);
    transform: translate(-50%, -50%);
}

.wave_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background-color: var(--bg-color-contacts);
}

.wave_wrap svg {
    position: absolute;
    height: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 2px);
}

#wave {
    fill: var(--bg-color-contacts);
    height: 100%;
}

.dashed_wave {
    position: absolute;
    z-index: 3;
    height: 130%;
    bottom: 60%;
    left: -28px;
    transform: translateY(50%);
}

#dashed_wave {
    fill: none;
    stroke: var(--light-text-color-contacts);
    stroke-width: 1px;
    stroke-dasharray: 6.5;
    opacity: .8;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(3px); }
}

@media (max-width: 1024px) {
    .contact_heading h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        white-space: normal;
    }

    .text {
        font-size: 0.9rem;
    }

    .contact_form {
        display: grid;
        margin-top: 1.9rem;
        column-gap: 0.8rem;
        row-gap: 0.65rem;
    }

    .contact_input {
        border-radius: 17px;
        font-size: 0.87rem;
        padding: 1.5rem 1.2rem calc(0.75rem - 2px) 1.2rem;
    }

    .input_wrap label {
        font-size: .91rem;
        left: calc(1.2rem + 2px);
    }

    .input_wrap .icon {
        font-size: 0.91rem;
        right: calc(1.2rem + 2px);
    }

    textarea.contact_input ~ label {
        top: 1.2rem;
    }

    textarea.contact_input ~ .icon {
        top: 1.33rem;
    }

    .input_wrap.focus .contact_input {
        box-shadow: 0 0 0 3.5px var(--input-shadow);
    }

    .input_wrap.not_empty label {
        font-size: 0.61rem;
    }

    .submit_box {
        margin-top: 0.45rem;
    }

    .input_submit {
        padding: 1rem 1.5rem;
        font-size: 0.87rem;
    }

    .dashed_wave {
        bottom: 55%;
        left: -10px;
    }

    #dashed_wave {
        stroke-width: 0.7px;
        stroke-dasharray: 6;
    }

    .wave_wrap {
        transform: translateX(-10%);
    }

    .wave_wrap svg {
        height: calc(110% + 10px);
        transform: translate(-5%, -50%);
    }
}

@media (max-width: 650px) {
    .left {
        padding: 50px 1.5rem 0;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .form_wrapper {
        width: 100%;
        padding: 1rem 0;
    }

    .right {
        display: none;
    }
}

@media (max-width: 440px) {
    .input_wrap {
        grid-column: span 2;
    }

    .submit_box {
        row-gap: 0.5rem;
    }

    .contact_heading h1 {
        font-size: 1.9rem;
        line-height: 1;
    }
}